* { 
 margin: 0;
 padding: 0;
}

.banner {
   height: 100vh;
   width: 100%;
   background-image: url("bg.jpg");
   background-position: center center;
   background-size: cover;
   position: fixed;
   background-repeat: no-repeat;
   top: 80px;
}
.header {
      height: 80px;
      width: 100%;
      background-color: black;

}
nav { 
  display: flex;
  padding: 4% 8%;
  justify-content: space-between;
  align-items: center;
}

nav img {
       width: 200px;
       height: 150px;
       position: absolute;
       top: 25px;
}
.logo {
    width: 200px;
       height: 80px;
       position: relative;
       top: -30px;
       left: -50px;
     
    margin-right: auto;
    cursor: pointer;
}

.log {
    height:100px;
    width: 60px;
   
}
       
.nav-links {
     flex: 1;
     text-align: right;
}

.nav-links ul li {
      link-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
      top: -60px;
      right: -30px;
}

.nav-links ul li::after {
       content: '';
       width: 0%;
       height: 5px;
       background-color: #ff4242;  
       display: block;
       margin: auto;
       transition: 0.5s;
}

.nav-links ul li:hover::after {
          width: 100%
          }
.nav-links ul li a {
     text-decoration: none;
     color: white;
     font-size: 15px;
     font-family: sans-serif;
}
      
.text  h1 { 
   color: white;
   text-align: center;
   opacity: 1;
   font-size: 35px;
 }
.text p {
    color: black;
    font-size: 20px;
    opacity: 1;
}
 
.text-box { 
      width: 90%;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
}
.home  {
   position: relative;
   left: 60px;
   top: 30px;
   color: white;
   text-align: left;
   opacity: .6;
   
}

p { 
  text-align: center;
}

h1{

 font-size: 45px;
}